@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1 class="productsTitle">Products</h1>

<div class="row allProducts">
    @foreach (var item in Model)
    {
        <div class="col-4 card">
            <img src="/Media/Products/@item.Image" class="productDisplay corners" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a class="btn btnPink" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Add to cart</a>
            </p>
        </div>
    }

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages"
                page-target="/products/@ViewBag.CategorySlug"
                page-number="@ViewBag.PageNumber"
                page-range="@ViewBag.PageRange">
    </pagination>
        </div>
}
</div>
